.showcase__item {
    transition: transform ease-in-out .3s;
}

.showcase__item:hover {
    transform: scale(1.1);
}

.showcase__image {
    height: 20em;
    width: 90%;    
}

@media (max-width: 576px) {  
    .showcase__image {
        height: 100%;
        width: 100%;    
    }
}
